absl-py==0.7.1
asn1crypto==0.24.0
astor==0.7.1
backcall==0.1.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
colorama==0.4.1
cryptography==2.7
decorator==4.4.0
gast==0.2.2
grpcio==1.16.1
h5py==2.9.0
idna==2.8
ipython==7.6.1
ipython-genutils==0.2.0
jedi==0.13.3
joblib==0.13.2
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
mkl-fft==1.0.12
mkl-random==1.0.2
mkl-service==2.0.2
mock==3.0.5
nltk==3.4.3
numpy==1.16.4
olefile==0.46
pandas==0.24.2
parso==0.5.0
pickleshare==0.7.5
Pillow==6.0.0
prompt-toolkit==2.0.9
protobuf==3.8.0
pycparser==2.19
pydot==1.4.1
Pygments==2.4.2
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyreadline==2.1
PySocks==1.7.0
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
requests==2.22.0
rouge==0.3.2
scikit-learn==0.21.2
scipy==1.2.1
sentencepiece==0.1.82
six==1.12.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tika==1.19
traitlets==4.3.2
urllib3==1.24.3
wcwidth==0.1.7
Werkzeug==0.15.4
win-inet-pton==1.1.0
wincertstore==0.2
